@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;900&display=swap');

:root{
    --primary: #fe2c55;
    --black: #000;
    --text-color: #161823;
    --white: #fff;

    //default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-space: 24px;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button, input{
    outline: none;
    border: none;
}

a[href]{
    color: var(--text-color);
    text-decoration: none;
}

//custom tippy tooltip
body{
    --tippy-color: rgba(84,84,84, 0.92);
    .tippy-box{
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 22px;
        background-color: var(--tippy-color);
    }
    .tippy-arrow{
        color: var(--tippy-color);
        border: solid solid none solid;
    }
    .tippy-box[data-placement^='bottom'] .tippy-arrow:before{
        top: -8px;
    }
    .tippy-content{
        padding: 8xp 9px;
    }

}