.wrapper{
    width: 320px;
    padding: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn{
    padding: 6px 16px;
}

.body{
    margin-top: 10px;
    color: #161823;
}

.nickname{
    font-size: 1.8rem;
}

.check-icon{
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 6px;
}

.name{
    font-size: 1.4rem;
}

.analytics{
    font-size: 1.6rem;
    margin-top: 6px;
}

.value ~ .value{
    padding-left: 20px;
}

.label{
    color: #161823bf;
}
